@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Poppins", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #0B1C2D;
  --color-brand-black: #0F0F12;
  --color-brand-white: #FFFFFF;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-brand-white);
  color: var(--color-brand-black);
}

